{% load static %}


    <!-- footer -->
    <footer>
        <div class=" row row-cols-8 footer d-flex justify-content-center">
            <div class="cols"><a href="https://github.com/kerry407"><i class="fa-brands fa-github"></i></a></div>
            <div class="cols"><a href="https://web.facebook.com/profile.php?id=100075164586297"><i class="fa-brands fa-facebook-f"></i></a></div>
            <div class="cols"><a href="https://twitter.com/kerry_onyeogo"><i class="fa-brands fa-twitter"></i></a></div>
            <div class="cols"><a href="https://www.linkedin.com/in/kerry-onyeogo-41988822b/"><i class="fa-brands fa-linkedin"></i></a></div>
            <div class="cols"><a href="mailto:kerryonyeogo@gmail.com"><i class="fa-solid fa-envelope-open"></i></a></div>
        </div>
        <div class="mt-5 mb-5 brand">
            <a class="navbar-brand fs-3 text-center" href="{% url 'home' %}" style="color: rgb(179,11,120);"><i class="fa-solid fa-cubes"></i>kerry.com</a>  
        </div>
        <div class="d-flex justify-content-center">
            <li><a href="#about-link">About</a></li>
            <li><a href="#services-link">Services</a></li>
            <li><a href="#resume-link">Resume</a></li>
            <li><a href="#contact-link">contact</a></li>
        </div>
        <p class="d-flex justify-content-center"><small>Kerry Onyeogo &COPY; 2022</small></p>
    </footer>