{% extends 'portfolio/home.html' %}


{% block header %}
{% include "portfolio/header.html" %}
{% endblock header %}

{% block about %}
{% include "portfolio/about.html" %}
{% endblock about %}

{% block services %}
{% include "portfolio/services.html" %}
{% endblock services %}

{% block skills %}
{% include "portfolio/skills.html" %}
{% endblock skills %}

{% block works %}
{% include "portfolio/projects.html" %}
{% endblock works %}

{% block contact %}
{% include "portfolio/contact.html" %}
{% endblock contact %}

{% block footer %}
{% include "portfolio/footer.html" %}
{% endblock footer %}

