{% load static %}



    <!-- Services -->
    <section class="services" id="services-link">
        <div>
            <h2 class="fw-bold">
                MY SERVICES
            </h2>
            <hr><h5 class="chapter"> 02</h5> <hr>
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-lg-3 col-md-6 full-card">
                    <div class="card card-out">
                        <img src="https://img.icons8.com/color/50/000000/code.png" class="d-grid mx-auto mt-4"/>
                        <div class="card-body d-grid mx-auto">
                          <h5 class="card-title text-center">Clean Code</h5>
                          <p class="card-text hide">Ability to write clean code for maintainability and performance.</p>
                        </div>
                    </div>
                    <div class="card card-in">
                        <div class="card-body d-grid mx-auto">
                          <p class="card-text">Ability to write clean code for maintainability and performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 full-card">
                    <div class="card card-out">
                        <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/50/000000/external-web-design-coding-kiranshastry-lineal-color-kiranshastry.png" class="d-grid mx-auto mt-4"/>
                        <div class="card-body d-grid mx-auto">
                          <h5 class="card-title text-center">Design Skills</h5>
                          <p class="card-text hide">Great understanding HTML/CSS/JavaScript for User Interface / User experience</p>
                        </div>
                    </div>
                    <div class="card card-in">
                        <div class="card-body d-grid mx-auto">
                          <p class="card-text">Great understanding HTML/CSS/JavaScript for User Interface / User experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 full-card">
                    <div class="card card-out">
                        <img src="https://img.icons8.com/bubbles/50/000000/apple-settings--v2.png" class="d-grid mx-auto mt-4"/>
                        <div class="card-body d-grid mx-auto">
                          <h5 class="card-title text-center">Application Modifications</h5>
                          <p class="card-text hide">Ability to work on existing projects and modify using latest technologies.</p>
                        </div>
                    </div>
                    <div class="card card-in">
                        <div class="card-body d-grid mx-auto">
                          <p class="card-text">Ability to work on existing projects and modify using latest technologies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 full-card">
                    <div class="card card-out">
                        <img src="https://img.icons8.com/external-ddara-flat-ddara/50/000000/external-api-fintech-ddara-flat-ddara.png" class="d-grid mx-auto mt-4"/>
                        <div class="card-body d-grid mx-auto">
                          <h5 class="card-title text-center">API Integration</h5>
                          <p class="card-text hide">Ability to create responses to other certain softwares for a specific operation</p>
                        </div>
                    </div>
                    <div class="card card-in">
                        <div class="card-body d-grid mx-auto">
                          <p class="card-text">Ability to create responses to other certain softwares for a specific operation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

